@model UserDetailsServiceModel
@{
    ViewData["Title"] = "Profile";
}

<h2>@Model.Username</h2>

<div class="row">
    <div class="col-md-5">
        @if (Model.UserProfileImgUrl == null)
        {
            <img src="https://d2gcv4sxt84gxu.cloudfront.net/assets/default-user-avatars-original-d5efadcf497ea7b3d86c6f8d148d66633a29ce78fa8391af628adf32d9989354.png" alt="profile pic" />
        }
        else
        {
            <img src="@Model.UserProfileImgUrl" alt="profile pic" />
        }
        <p>
            <b>Rate: </b>
            @for (var i = 0; i < (int)Math.Ceiling(Model.UserRate); i++)
            {
                <span class="glyphicon glyphicon-star color-yellow"></span>
            }
            @for (var i = 0; i < 5 - (int)Math.Ceiling(Model.UserRate); i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </p>
        <p>
            <b>Email:</b> <a>@Model.Email</a>
        </p>
        <p>
            <b>Phone:</b>
            @if (Model.Phone == null)
            {
                <span>No phone provided.</span>
            }
            else
            {
                @Model.Phone
            }
        </p>
        <p><b>Full Name:</b> @Model.UserFullName</p>
        <p><b>Age:</b> @Model.UserAge</p>
        <a class="btn btn-md btn-info" asp-controller="Trips" asp-action="DriverTrips" asp-route-id="@Model.Id">User trips</a>
    </div>
</div>

