@model IEnumerable<TripListingServiceModel>

<ul class="list-group article-list">
    @foreach (var trip in Model)
    {
        <li class="list-group-item text-center">
            <div class="row">
                <h2>@trip.Title</h2>
            </div>
            <div class="row">
                <p>Starts on @trip.StartDate from @trip.StartLocation to @trip.EndLocation</p>
            </div>
            <div class="row">
                @if (trip.PricePerPassenger == 0)
                {
                    <h5>Price per passenger: <span class="color-green">FREE</span></h5>
                }
                else
                {
                    <h5>Price per passenger: @trip.PricePerPassenger $</h5>
                }

            </div>
            <div class="row">
                @if (trip.TakenSeats == trip.TotalSeats)
                {
                    <h5>Car Space: <span class="color-red">FULL</span></h5>
                }
                else
                {
                    <p>Car Space: @trip.TakenSeats / @trip.TotalSeats</p>
                }

            </div>
            <a class="btn btn-info" asp-action="Details" asp-route-id="@trip.Id" asp-route-title="@trip.Title.ToFriendlyUrl()">Read more</a>
        </li>
    }
</ul>