@model TripWithRateCommentsDetailsViewModel
@{
    ViewData["Title"] = Model.Trip.Title;
}

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 table-bordered">
        <h2>@ViewData["Title"]</h2>
        <p>
            Trip Rate:
            @for (var i = 0; i < (int)Math.Ceiling(Model.Trip.OverallRate); i++)
            {
                <span class="glyphicon glyphicon-star color-yellow"></span>
            }
            @for (var i = 0; i < 5-(int)Math.Ceiling(Model.Trip.OverallRate); i++)
            {
                <span class="glyphicon glyphicon-star-empty"></span>
            }
        </p>
        <p>Driver: <a asp-controller="Users" asp-Action="Profile" asp-route-id="@Model.Trip.Driver.Id">@Model.Trip.Driver.UserName</a></p>
        <p>Car info: @Model.Trip.CarModel</p>
        <p>Trip info: @Model.Trip.StartDate - from @Model.Trip.StartLocation to @Model.Trip.EndLocation</p>
        <p>Start Address: @Model.Trip.ExactAddress</p>
        <p>Additional info: @Model.Trip.Description</p>
        <div class="row">
            @if (Model.Trip.PricePerPassenger == 0)
            {
                <h5>Price per passenger: <span class="color-green">FREE</span></h5>
            }
            else
            {
                <h5>Price per passenger: @Model.Trip.PricePerPassenger $</h5>
            }
        </div>
        <div class="row">
            @if (Model.Passangers.Count() == Model.Trip.TotalSeats)
            {
                <h5>Car Space: <span class="color-red">FULL</span></h5>
            }
            else
            {
                <p>Car Space: @Model.Passangers.Count() / @Model.Trip.TotalSeats</p>
            }
            @if (Model.Passangers.Any())
            {
                <p>Signed passagers</p>
                <ul>
                    @foreach (var passenger in Model.Passangers)
                    {
                        <li><a asp-controller="Users" asp-Action="Profile" asp-route-id="@passenger.Id">@passenger.UserName</a></li>
                    }
                </ul>
            }

        </div>
    </div>
</div>

<div class="row ">
    <div class="col-md-5"></div>
    <div class="col-md-5">
        @if (User.IsInRole(WebConstants.AdministratorRole) && Model.Trip.Driver.UserName != User.Identity.Name)
        {
            <a class="btn btn-danger  btn-sm" asp-action="Delete" asp-route-id="@Model.Trip.Id" asp-route-title="@Model.Trip.Title.ToFriendlyUrl()">Delete</a>
        }
        <a class="btn btn-default btn-sm" asp-controller="Trips" asp-action="Index">Back</a>
        <h3>Comments</h3>
    </div>
</div>
@foreach (var comment in Model.Trip.Comments.Where(c => c.IsRateComment))
{
    <div class="row ">
        <div class="col-md-3"></div>
        <div class="col-md-6 table-bordered">
            <h4>@comment.Title</h4>
            <p>@comment.Rate</p>
            <p>@Html.Raw(comment.Content)</p>
            <small>
                posted on @comment.CreateDate by @comment.CommenterName
            </small>
            @if (comment.IsEdited)
                {
                <small>
                    Last edited by @comment.EditorUsername at @comment.EditDate

                </small>
            }

            @if (User.IsInRole(WebConstants.AdministratorRole))
            {
                <a class="btn btn-danger  btn-sm" asp-controller="Comments" asp-action="Delete" asp-route-id="@comment.Id" asp-route-tripId="@Model.Trip.Id" asp-route-title="@comment.Title.ToFriendlyUrl()">Delete</a>
            }
        </div>
    </div>
}
<div class="row ">
    <div class="col-md-5"></div>
    <div class="col-md-1">
        @if (!Model.Trip.Comments.Any(c => c.CommenterName == User.Identity.Name))
        {
            <a class="btn btn-info btn-sm" asp-controller="Comments" asp-action="RateCommentCreate" asp-route-id="@Model.Trip.Id">Write a comment</a>
        }

    </div>
</div>
